/* Positionnement et Formattage du header*/
header {
    background-color: #5AB9E7;
    height: 143px;
    margin: 0px auto;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Positionnement et Formattage de la barre de navigation*/
nav {
    background-color: #88C2F7;
    height: 63px;
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 140px;
    left: 0px;
}

/* Formattage titre de page avec positionnement*/
.postitionTextHead {
    text-align: center;
    position: relative;
    left: 600px;
    top: 22px;
}

/* Formattage de l'image de fond avec positionnement*/
.positionImagedeFond {
    width: 100%;
    position: absolute;
    top: 203px;
    left: 0px;
    margin: 0px auto;

}

/* Formattage du Logo du drapeau de Cuba avec positionnement*/
.positionImagedeHead {
    position: absolute;
    height: 103px;
    left: 77px;
    top: 15px;
}

/* Positionnement du Logo de bas de page*/
.positionImagedeBas {
    position: absolute;
    bottom: -750px;
    right: 0px;
}

/* Formattage du sous-texte du header avec positionnement*/
.positionTextsurImagedeFond {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Formattage du texte de la barre de navigation avec le positionnement*/
.texteNav {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
    grid-gap: 1rem;
    justify-content: space-between;
    align-content: flex-start;
    height: auto;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    padding: 14px 0;
    text-align: center;
}

/* Positionnement du Logo du formulaire*/
.Logo_Form {
    position: absolute;
    top: 675px;
    right: 1000px;
}

/* Positionnement et Formattage du sous titre*/
.Sous-Titre {
    color: black;
    position: absolute;
    top: 700px;
    left: 925px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
}

/* Positionement et Formattage des cases pour remplir le formulaire */
.formulairebutton {
    position: absolute;
    width: 335px;
    height: 39px;
    left: 1130px;
    top: 770px;
    border-color: #CBCBCB;
    background: #CBCBCB;
    border-radius: 5px;
    color: #00000080;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Positionnement et Formattage des titres des cases pour remplir le formulaire*/
.posTexte {
    position: absolute;
    width: 32px;
    height: 26px;
    left: 1130px;
    top: 750px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

/* Positionnement et Formattage du bouton Envoyer*/
.envoyezbutton {
    position: absolute;
    border-radius: 5px;
    background-color: #0196F2;
    width: 330px;
    height: 80px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    left: 850px;
    top: 1475px;
    border-color: #0196F2;

}

/* Positionnement des images des résaux*/
.Images {
    position: absolute;
    top: 1600px;
    left: 15px;
}

/* Positionnement et Formattage du sous-titre des résaux*/
.texteresaux {
    color: black;
    position: absolute;
    bottom: -625px;
    left: 175px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}